<h3>Juego de tronos</h3>
<mat-tab-group>
    
    <div class="my-3">
        <mat-tab label="Personajes"> 
            <div *ngFor="let c of characters" class="col col-6 col-md-4">
                <mat-card class="character-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
    </div>   
    
    
    
</mat-tab-group>